{% extends "allpages/base.html" %}
{% block maincontent %}
    <h1>About Page</h1>
    <p> Template: /allpages/templates/allpages/about.html .</h1>
    <p>Test objectives:
        <ol>
            <li>Django server set-up at Digital Ocean, with PostgreSQL database. --OKAY--</li>
            <li>Use of two different datasets (video and company dataset) --OKAY--</li>
            <li>add, update, and delete entry from the video dataset --OKAY--</li>
            <li>Display results from a search by catagory --OKAY--</li>
            <li>Pipeline from local server to public production server --OKAY</li>
            <li>>N: Data upload from .json  or CSV file into the Digital Ocean PostgreSQL database</li>
            <li>>N: Extend database with address table</li>
            <li>>N: Refine CSS</li>
        </ol>
{% endblock maincontent %}