{% extends "allpages/base.html" %}
{% load static %}
{% block headcontent %}
<!-- All of these style rules can go into an external style sheet.-->
<!-- Made them internal here so they'd be easy to find. -->

<!--    table.videos td:nth-child(1) {
        text-align: center;
    }   -->

<style>
    table.videos {
        border-collapse: collapse;
        margin: 1em auto;
    }

    table.videos th,
    table.videos td {
        border: solid 1px silver;
        padding: 0 4px;
    }
    table.videos td:nth-child(1) {
        text-align: center;
    }   

    table.videos td:nth-child(2) {
        max-width: 650px;
    }

    table.videos td:nth-child(3) {
        max-width: 300px;
    }

    table.videos td:nth-child(4) {
        width: 100px;
        position: relative;
    }

    table.videos td:nth-child(4) div {
        background-color: gold;
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        z-index: 100;
    }

    table.videos td:nth-child(4) img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 110;
    }

    table.videos tr:hover {
        cursor: pointer;
    }

    table.videos tr:nth-child(even) {
        background-color: aliceblue;
    }

    table.videos tr:hover {
        background-color: yellow;
    }
</style>

{% endblock headcontent %}

{% block maincontent %}
    <h1>Companies</h1>
    <p> Template: allpages/templates/allpages/companyinfo_list.html.
</p>
<H3>Click<a href="{% url 'cominfo-create' %}">-HERE-</a>to add a new company</H3>

    <table class=videos>
    <tr>
<!--        <th>Edit </th>   -->
        <th>Company </th>
        <th>CEO </th>
        <th>Region </th>
        <th>Rating </th>
    </tr>
    {% for CompanyInfo in object_list %}
    <tr>
<!--        <td>
            <a href="{% url 'cominfo-update' CompanyInfo.id %}" class="fa fa-edit"></a>
        </td>   -->
        <td style="text-decoration:{% if CompanyInfo.is_active %}none{% else %}line-through {% endif %}">
            {{ CompanyInfo.company }}
        </td>
        <td>
            {{CompanyInfo.ceo}}
        </td>
        <td>
            {{CompanyInfo.region}}
        </td>
        <td>
            <div style="width: calc(20% * {{ CompanyInfo.stars_count }}) "> </div>
            <img src="{% static 'allpages/images/stars.png' %}" alt="{{ CompanyInfo.stars_count}}" title = "{{ CompanyInfo.stars_count}}">
        </td>
    </tr>
    {% endfor %}
    
 </table>
{% endblock maincontent %}